body{
    background-color:rgb(229, 153, 183);
color:black
font-size: 50px;
text-align: center;
}

p{
    text-align: center;
    color:black;
}
#produtos{
    font-size: 40px;
    color:deeppink;
}
#texto{
    font-size: 30px;

}
